<div class="navbar transition-background-color" >
  <div [ngStyle]="{whiteSpace: 'nowrap'}">
    <a href="#home" [ngStyle]="{fontSize: '20px'}">SmartOne 365 </a>
    <span class="ml-1" [ngStyle]="{textDecoration: 'line-through'}">
      € 600,00
    </span>
    <span> € 499,00  iva inclusa</span>
  </div>
  <div class="hancors col-6">
    <a href="#Panoramica">Panoramica</a>
    <a href="#App">App</a>
    <a href="#Spec">Specifiche e installazione</a>
    <a href="#Download">Download</a>
    <button class="add-to-cart">Aggiungi al carrello</button>
  </div>
</div>
<div>
  <img src="assets/Livello 16.png" [ngStyle]="{width: '100%'}">
</div>
<div [ngStyle]="{padding: '0 5%'}">
  <div class="col-6" [ngStyle]="{marginTop: '-350px', marginLeft: 'auto', marginRight: 'auto', textAlign: 'center'}">
    <img src="assets/Product Image.png" [ngStyle]="{width: '95%'}">
    <div [ngStyle]="{fontSize: '12px', textTransform: 'uppercase'}">
      regolazione monozona smartone 365
    </div>
    <div [ngStyle]="{fontSize: '56px', textTransform: 'uppercase'}">
      fai un gesto semplice
    </div>
    <div [ngStyle]="{fontSize: '24px' }">
      Avvolgi la tua casa nel comfort, avvolgi la tua famiglia nel benessere
    </div>
    <p [ngStyle]="{fontSize: '16' }">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
      diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>
  </div>
</div>
<div [ngStyle]="{backgroundImage: 'url(\'assets/Livello 18.png\')', padding: '0 5%', height: '1277px'}"
      class="container"
>
  <div [ngStyle]="{gridColumn: 'col-start 2 / span 3', margin: 'auto'}">
    <div [ngStyle]="{fontSize: '12px', textTransform: 'uppercase'}">
      efficiente
    </div>
    <div [ngStyle]="{fontSize: '56px', textTransform: 'uppercase'}">
      A misura di ambiente
    </div>
    <p [ngStyle]="{fontSize: '16' }">
      Il funzionamento del sistema di regolazione SmartOne 365 si avvale dell’algoritmo PID (Proportional Integral Derivative Strategy) che permette al sistema di rimanere “bilanciato” e trasferire così la corretta temperatura superficiale radiante risparmiando energia, accrescendo il comfort ambientale e apportando una maggiore efficienza all’interno del sistema.
    </p>
  </div>
  <div [ngStyle]="{gridColumn: 'col-start 8 / span 5', margin: 'auto'}">
    <img src="assets/Product image lat.png" [ngStyle]="{width: '95%'}">
  </div>
</div>
<div [ngStyle]="{backgroundImage: 'url(\'assets/Rettangolo 6 copia.png\')', padding: '0 5%', height: '1020px'}"
     class="container"
>
  <div [ngStyle]="{gridColumn: 'col-start 9 / span 4', margin: 'auto'}">
    <div [ngStyle]="{fontSize: '12px', textTransform: 'uppercase'}">
      efficiente
    </div>
    <div [ngStyle]="{fontSize: '56px', textTransform: 'uppercase'}">
      A misura di ambiente
    </div>
    <p [ngStyle]="{fontSize: '16' }">
      Il funzionamento del sistema di regolazione SmartOne 365 si avvale dell’algoritmo PID (Proportional Integral Derivative Strategy) che permette al sistema di rimanere “bilanciato” e trasferire così la corretta temperatura superficiale radiante risparmiando energia, accrescendo il comfort ambientale e apportando una maggiore efficienza all’interno del sistema.
    </p>
  </div>
</div>
<div [ngStyle]="{backgroundImage: 'url(\'assets/Bg Image.png\')', padding: '0 5%', height: '1020px'}"
     class="container"
>
  <div [ngStyle]="{gridColumn: 'col-start 1 / span 4', margin: 'auto', color: 'white'}">
    <div [ngStyle]="{fontSize: '12px', textTransform: 'uppercase'}">
      efficiente
    </div>
    <div [ngStyle]="{fontSize: '56px', textTransform: 'uppercase'}">
      A misura di ambiente
    </div>
    <p [ngStyle]="{fontSize: '16' }">
      Il funzionamento del sistema di regolazione SmartOne 365 si avvale dell’algoritmo PID (Proportional Integral Derivative Strategy) che permette al sistema di rimanere “bilanciato” e trasferire così la corretta temperatura superficiale radiante risparmiando energia, accrescendo il comfort ambientale e apportando una maggiore efficienza all’interno del sistema.
    </p>
  </div>
</div>
<div [ngStyle]="{backgroundImage: 'url(\'assets/Bg image 4.png\')', padding: '0 5%', height: '1277px'}"
     class="container"
>
  <div [ngStyle]="{gridColumn: 'col-start 1 / span 5', margin: 'auto'}">
    <img src="assets/Product image lat2.png" [ngStyle]="{width: '95%'}">
  </div>
  <div [ngStyle]="{gridColumn: 'col-start 9 / span 4', margin: 'auto'}">
    <div [ngStyle]="{fontSize: '12px', textTransform: 'uppercase'}">
      efficiente
    </div>
    <div [ngStyle]="{fontSize: '56px', textTransform: 'uppercase'}">
      A misura di ambiente
    </div>
    <p [ngStyle]="{fontSize: '16' }">
      Il funzionamento del sistema di regolazione SmartOne 365 si avvale dell’algoritmo PID (Proportional Integral Derivative Strategy) che permette al sistema di rimanere “bilanciato” e trasferire così la corretta temperatura superficiale radiante risparmiando energia, accrescendo il comfort ambientale e apportando una maggiore efficienza all’interno del sistema.
    </p>
  </div>
</div>

