/* You can add global styles to this file, and also import other style files */
//* {
//  box-sizing: border-box;
//}
@import "assets/style/desktop";
@import "assets/style/transitions";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

a {
  color: white;
  fontWeight: 500;
  text-decoration:none;
}

body {
  font-family: 'Roboto';
  margin: 0;
}


.container {
  background-position: center center;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

.grid-item {
  grid-column: col-start 4 / span 6;

}
